html {
    margin: 0em;
    border: 0em;
    padding: 0em;
    font-family: Helvetica, sans-serif;
    font-size: 1.2em;
}

.header {
    margin: 1em;
    padding: 1em;
    font-size: 2em;
    font-weight: 800;
    letter-spacing: 0.02em;
}

.buttons {
    margin: 1em;
    padding: 1em;
}

button {
    margin: 1em;
    padding: 1em;
    background-color: rgb(218, 218, 218);
    font-size: 1.2em;
    border: 0em;    
    border-radius: 10%;
}

button:hover {
    background-color: rgb(102, 175, 252);
    scale: 1.1;
}

#score {
    margin: 1em;
}

#results {
    margin: 1em;
}